parameters:
    level: 6
    paths:
        - src
    universalObjectCratesClasses:
    autoload_files:
    autoload_directories:
        - %rootDir%/..
    ignoreErrors:

includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon